# API Keys
GEMINI_API_KEY=your_actual_gemini_api_key
OPENAI_API_KEY=

# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/codesage

# Services
QDRANT_URL=http://localhost:6333
REDIS_URL=redis://localhost:6379

# Embedding
EMBED_MODEL=microsoft/unixcoder-base
EMBED_BATCH_SIZE=32

# App
APP_NAME=CodeSage
DEBUG=True

REPO_PATH=

# GEMINI_API_KEY = 
# QDRANT_URL=http://localhost:6333
# REDIS_URL=redis://localhost:6379
# DATABASE_URL=postgresql://user:password@localhost:5432/codesage
# PYTHONPATH=${workspaceFolder}/backend
# OPENAI_API_KEY=